/* Reglas de reseteo 
alternativa:

* {
  margin: 0;
}

*/
html{
    font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.hero {
  background-image: url("/img/hero-2.jpg");
  background-position: center;
  background-size: cover;
  height: 350px;
  position: relative;
}

.hero-title {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 36px;
  margin-right: 20px;
}

.hero-text {
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: #729afe7c;
  padding: 10px;
  color: white;
  margin-left: 20px;
}

/* Para el elemento <progress> */
progress {
  appearance: none;
}

progress::-webkit-progress-bar {
  border-radius: 10em;
  background: rgb(217, 217, 217);
}

progress::-webkit-progress-value {
  border-radius: 10em;
  background: purple;
}

.wrapper-mis-skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.wrapper-mis-skills section {
  margin-bottom: 20px;
}




